parameters:
  level: 9
  paths:
    - clevers-product-carousel.php
    - includes
  bootstrapFiles:
    - tests/bootstrap.php
    - tests/phpstan-stubs.php
  excludePaths:
    - */includes/class-admin.php
    - */includes/class-cpt.php
    - */includes/class-health-check.php
